<mat-sidenav-container class="sidenav-container" *ngIf="!fullPageTemplate">
	<mat-sidenav #drawer class="sidenav" fixedInViewport
			[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
			[mode]="(isHandset$ | async) ? 'over' : 'side'"
			[opened]="(isHandset$ | async) === false">
		<mat-toolbar>
			<div class="logo">
				<a routerLink="/dashboard">
					<h2>Wamtsol</h2>
				</a>
			</div>
		</mat-toolbar>
		<mat-nav-list class="main-menu">
            <a mat-list-item (click)="toggle('general')"><mat-icon>dashboard</mat-icon>Dashboard <mat-icon class="right">expand_more</mat-icon></a>
			<div class="drop-down-menu cron-drop-down" *ngIf="dropdowns.general">
				<a mat-list-item routerLink="/general-settings" routerLinkActive="active"><mat-icon>settings</mat-icon>General Settings</a>
			</div>
			<a mat-list-item routerLink="/users" routerLinkActive="active"><mat-icon>people</mat-icon>Users</a>
		
			<a mat-list-item><mat-icon>logout</mat-icon>Log Out</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="accent">
			<button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
		</mat-toolbar>
		<!-- Add Content Here -->
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
<div class="container-full" *ngIf="fullPageTemplate">
	<router-outlet></router-outlet>
</div>
